@import './mixin.scss';
@import './vadiables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
body {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    ;
}
.header {
    height: 84px;
    width: 100%;
    display: flex;
    background-color: $silver-color;
}

.header__logo {
    width: 20%;

    &-img {
        @include centerStyle();
    }
}

.header__navigation {
    width: 60%;

    &-nav {
        list-style: none;
        @include centerStyle();
        gap: 50px;

    }

    &-nav a {
        text-decoration: none;
        color: $black-color;
    }
}

.header__account {
    width: 20%;
    gap: 20px;
    @include centerStyle();

    &-login {
        @include accountStyle();
        color: $green-color;
        background-color: transparent;
    }

    &-signup {
        color: $white-color;
        background-color: $green-color;
        border-radius: 10px;
        @include accountStyle();
    }
}

.content {
    width: 100%;
    @include gapStyle();
    gap: 40px;
}

.container {
    @include gapStyle();
    gap: 48px;
}

.content__slider {
    position: relative;
    overflow: hidden;
    background-color: $silver-color;
    .slides {
        width: 300%;
        display: flex;
        transition: margin-left 0.5s ease-in-out;

        &__one,
        &__two,
        &__three {
            width: 100%;
            @include slider();
        }
    }
    .slider-controls {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center;
        padding: 10px 0 ;
        &__btn {
            display: flex;
            gap: 8px;
        }

    }
}

.content__ourClient {
    width: 80%;
    margin: 0 auto;
    @include gapStyle();
    gap: 20px;

    &-head {
        @include centerStyle();
        height: 44px;
        @include fontSize36();
    }

    &-content {
        @include centerStyle();
        color: $grey-color;
    }

    .content__ourClient__logo {
        width: 85%;
        margin: 0 auto;
        height: 98px;
        align-items: center;

        &-item {
            @include betweenStyle();
            height: 100%;

            &img {
                height: 48px;
                width: 48px;
            }
        }
    }
}

.manage {
    width: 100%;
    @include gapStyle();
    gap: 20px;

    .manage__font {
        @include gapStyle();
        gap: 5px;

        &-max {
            width: 40%;
            margin: 0 auto;
            @include fontSize36();
            text-align: center;
        }

        &-min {
            color: $grey-color;
            text-align: center;
        }
    }

    .manage__content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .manage__content__member {
            width: 15%;
            box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.4);
            @include gapStyle();
            gap: 20px;
            padding: 20px 0;

            .manage__content__member_head {
                @include manage_head();
            }

            &-text {
                @include manage_text();
            }
        }

        .manage__content__national {
            width: 15%;
            box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.4);
            @include gapStyle();
            gap: 20px;
            padding: 20px 0;

            .manage__content__national_head {
                @include manage_head();
            }

            &-text {
                @include manage_text();
            }
        }

        .manage__content__groups {
            width: 15%;
            box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.4);
            @include gapStyle();
            gap: 20px;
            padding: 20px 0;

            .manage__content__groups_head {
                @include manage_head();
            }

            &-text {
                @include manage_text();
            }
        }
    }
}

.product {
    width: 100%;
    @include gapStyle();
    gap: 48px;

    &__account {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        // margin-top: 20px;

        &__logo {
            width: 31%;
        }

        &__conten {
            @include gapStyle();
            gap: 20px;
            width: 35%;
            margin: auto 0;

            &-text {
                width: 85%;
                @include gapStyle();
                gap: 20px;

                .product_header {
                    p {
                        @include fontSize36();
                    }
                }

                .product_body {
                    font-size: 14px;
                    color: $grey-color;
                }
            }

            &-btn {
                width: 60%;

                button {
                    background-color: $green-color;
                    color: $white-color;
                    width: 151px;
                    height: 52px;
                    border-radius: 4px;
                    border: none;
                }

            }
        }
    }

    &__statistical {
        width: 100%;
        display: flex;
        background-color: $silver-color;
        height: 288px;
        gap: 40px;
        justify-content: center;

        .statistical_content {
            @include gapStyle();
            width: 40%;
            gap: 8px;
            height: 40%;
            margin: auto 0;

            &__title {
                p {
                    font-size: 36px;

                    span {
                        color: $green-color;
                        display: block;
                    }
                }
            }

            &__content {
                p {
                    color: $grey900-color;
                }
            }
        }

        .statistical_logo {
            @include gapStyle();
            gap: 40px;
            width: 30%;
            height: 60%;
            margin: auto 0;

            &__memberclub {
                display: flex;
                gap: 30px;

                .statistical__member {
                    @include statistical();
                }

                .statistical__club {
                    @include statistical();
                }
            }

            &__payement {
                display: flex;
                gap: 30px;

                .statistical__event {
                    @include statistical();
                }

                .statistical__pay {
                    @include statistical();
                }
            }
        }
    }

    .product__site {
        width: 100%;

        &__design {
            display: flex;
            gap: 32px;
            justify-content: center;

            &__img {
                display: inline;
            }

            &__content {
                width: 35%;
                height: 70%;
                @include gapStyle();
                gap: 32px;
                margin: auto 0;

                .design__footer {
                    @include gapStyle();
                    width: 80%;
                    gap: 16px;

                    &__header {
                        p {
                            @include fontSize36();
                        }
                    }

                    &__body {
                        font-size: 14px;
                        color: $grey-color;
                    }
                }

                .design__footer__btn {
                    button {
                        height: 52px;
                        width: 151px;
                        background-color: $green-color;
                        border: none;
                        color: $white-color;
                        border-radius: 4px;
                    }

                }
            }
        }
    }

    .product__airport {
        width: 100%;
        display: flex;
        gap: 78px;
        background-color: $silver-color;
        justify-content: center;
        padding: 10px 0;
        &__img{
            @include betweenStyle();
           img {
            display: inline;
           } 
        }
        &__content {
            width: 40%;
            @include gapStyle();
            gap: 32px;
            margin: auto 0;

            .airport__title {
                @include gapStyle();
                gap: 16px;
                width: 85%;

                &__content {
                    p {
                        color: $grey-color;
                    }
                }

                &__boad {
                    @include gapStyle();
                    gap: 8px;

                    span {
                        color: $green-color;
                        font-size: 20px;
                    }

                    p {
                        color: $L_grey-color;
                    }
                }
            }

            .airport__body {
                width: 100%;
                &__icon {
                    display: flex;
                    gap: 32px;

                    &-logo {
                        display: flex;
                        gap: 41px;
                    }
                    &-logo a :hover{
                        filter: invert(13%) sepia(73%) saturate(7043%) hue-rotate(262deg) brightness(83%) contrast(106%);
                    }
                    &-custom {
   
                        margin: auto 0;
                        display: flex;
                        a {
                            text-decoration: none;
                            color: $green-color;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .product__marketing {
        @include gapStyle();
        gap: 16px;
        padding-bottom: 10%;

        &__header {
            margin: 0 auto;
            width: 70%;
            @include gapStyle();
            gap: 8px;

            .marketing__title {
                width: 100%;
                @include fontSize36();
                text-align: center;
            }

            .marketing__content {
                width: 40%;
                color: $grey-color;
                margin: 0 auto;
                text-align: center;
            }
        }

        &__content {
            width: 100%;
            position: relative;
            display: flex;
            margin: 0 auto;
            justify-content: center;

            .marketing__process {
                @include marketing();
            }

            .marketing__manage {
                @include marketing();
            }

            .marketing__membership {
                @include marketing();
            }
        }
    }
}

.footer {
    @include gapStyle();
    &__header {
        @include gapStyle();
        gap: 32px;
        background-color: $silver-color;
        padding-bottom: 32px;
        &__title {
            width: 40%;
            color: $black-color;
            font-size: 64px;
            margin: 0 auto;
            text-align: center;
        }

        &__btn {
            @include centerItem();

            button {
                padding: 20px;
                background-color: $green-color;
                border: none;
                color: $white-color;
                border-radius: 4px;
            }
        }
    }

    &__content {
        background-color: $black-color;
        display: flex;
        gap: 125px;
        width: 100%;
        justify-content: center;
        padding: 60px 0;

        &__left {
            width: 20%;
            @include gapStyle();
            gap: 40px;

            &-body {
                color: $white-color;
                @include gapStyle();
                gap: 8px;
            }
        }

        &__right {
            width: 40%;
            color: $white-color;
            display: flex;
            gap: 30px;

            .footer__company {
                @include footerText();
            }

            .footer__support {
                @include footerText();
            }

            .footer__update {
                @include gapStyle();
                gap: 24px;
                width: 40%;

                &__header {
                    font-size: 20px;
                }

                    &__content {
                        position: relative;

                        input {
                            border-radius: 8px;
                            padding: 10px;
                            background-color: $grey-color;
                            color: white !important;
                            width: 100%;
                            &::placeholder{
                                color: $gray300-color;
                            }
                        }
                        
                    img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 740px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header {
        width: 100%;
        justify-content: flex-start;

        &__logo {
            width: 50%;
        }

        &__navigation {
            display: none;
        }

        &__account {
            width: 50%;
            display: flex;
        }
    }

    .content__slider {
        .slides {

            &__one,
            &__two,
            &__three {
                @include responsiveMobile();
            }
        }
    }

    .container {
        gap: 20px;
    }

    .content__ourClient-content {
        h3 {
            text-align: center
        }

        ;
    }

    .content__ourClient__logo {
        &-item {
            display: block;
            flex-wrap: wrap;
        }
    }

    .manage {
        width: 100%;

        &__font {
            &-max {
                h2 {
                    font-size: 30px;
                }
            }
        }

        &__content {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            &__member {
                width: 80% !important;

                &-text {
                    text-align: center;
                }
            }

            &__national {
                width: 80% !important;

                &-text {
                    text-align: center;
                }
            }

            &__groups {
                width: 80% !important;

                &-text {
                    text-align: center;
                }
            }
        }
    }

    .product {
        &__account {
            flex-direction: column;

            &__logo {
                order: 2;
                width: 100%;
                @include centerItem();
            }

            &__conten {
                order: 1;
                width: 100%;
                margin-top: 20px;

                &-text {
                    width: 100%;
                    flex-wrap: wrap;
                    text-align: center;

                    .product_body {
                        p {
                            padding: 0 5%;
                        }
                    }
                }

                &-btn {
                    width: 100%;
                    @include centerItem();

                }
            }
        }

        &__statistical {
            flex-direction: column;

            .statistical_content {
                width: 100%;

                &__title {
                    p {
                        text-align: center;
                    }
                }
            }

            &__content {
                p {
                    text-align: center;
                }
            }

            .statistical_logo {
                width: 100%;
                @include centerItem();

            }
        }

        &__site {
            &__design {
                flex-direction: column;

                &__img {
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                }

                &__content {
                    width: 100% !important;

                    .design__footer {
                        width: 100%;

                        &__header {
                            text-align: center;
                        }

                        &__body {
                            padding: 0 5%;
                        }
                    }

                    .design__footer__btn {
                        @include centerItem();

                    }
                }
            }
        }

        &__airport {
            flex-direction: column;
            gap: 0 !important;

            &__img {
                @include centerItem();

            }

            &__content {
                width: 100% !important;

                .airport__title {
                    width: 100%;

                    &__content {
                        p {
                            padding: 0 5%;
                        }
                    }

                    &__boad {

                        span,
                        p {
                            padding: 0 5%;
                        }

                    }
                }

                .airport__body {
                    @include centerItem();

                    &__icon {
                        gap: 20px !important;
                        flex-direction: column;

                        &-logo {
                            gap: 10px !important;
                        }

                        &-custom {
                            @include centerItem();

                        }
                    }
                }
            }
        }

        &__marketing {
            gap: 40px !important;
            padding-bottom: 20% !important;

            &__header {
                .marketing__content {
                    width: 100% !important;
                }
            }

            &__content {
                flex-direction: column;
                display: block;
                gap: 100px !important;

                .marketing__process {
                    width: 70% !important;

                    &__img {
                        img {
                            width: 60%;
                        }
                    }

                    &__content {}
                }

                .marketing__manage {
                    width: 70% !important;
                }

                .marketing__membership {
                    width: 70% !important;

                }
            }
        }
    }

    .footer {
        &__header {
            &__title {
                width: 100%;
            }
        }

        &__content {
            flex-direction: column;
            gap: 50px;

            &__left {
                width: 100%;

                &-head {
                    margin-left: 5%;
                }

                &-body {
                    align-items: center;
                }

                &-logo {
                    @include centerItem();

                }
            }

            &__right {
                width: 100%;

                .footer__company {
                    display: none;
                }

                .footer__support {
                    display: none;
                }

                .footer__update {
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    &__header {
                        width: 30%;
                        @include centerItem();
                    }

                    &__content {
                        width: 30%;
                    }
                }
            }
        }
    }
}